.gallery{

	display:  flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	width: 80vw;

}

.gallery div{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60%;
	width: 25%;
	cursor: pointer;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	background: linear-gradient(0deg, rgba(51,51,51,1) 0%, rgba(255,255,255,0.07046568627450978) 82%);
}

.gallery div img{
	

	height: 100%;
	width: auto;
	z-index: -10;
}

.gallery p{
	position: absolute;
	bottom: 0;
	font-size: 22px;
	color: #fff;
}

.gallery div:hover{

  transition: 3.2s;
	background: linear-gradient(0deg, rgba(51,51,51,1) 0%, rgba(255,255,255,0.5) 82%);
}

.snaps-inline{
	scroll-snap-type: inline mandatory;

}
.snaps-inline > *{
	scroll-snap-align: start;
}

.media-scroller{
	position: absolute;
	bottom: 0;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 27%;
	overflow-x: auto;
	overscroll-behavior-inline: contain;
	height: 90vh;
	width: 100vw;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	animation: fadeIn 2.0s ease-in;		
	
}

.media-element{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(0deg, rgba(51,51,51,1) 0%, rgba(255,255,255,0.07046568627450978) 82%);

}
.media-element img{
	height: 100%;
	z-index: -10;
}

.media-element p{
	position: absolute;
	bottom: 5%;
	font-size: 20px;
	color: white;	
}
.close-icon {
    display: block;
    position: fixed;
    top: 10%;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 2;
    color: #fff;
}


@keyframes fadeIn {
  from {
  	transform: translateX(50%);
  	opacity: 0;
  }
  to {
  	transform: translateX(0%);
  	opacity: 1;
  }
}